# Ignore everything
*

# Commit KCG plugins (everything kcg-)
!plugins/
!plugins/kcg-*/
!plugins/kcg-*/**

# Commit KCG theme (everything kcg-)
!themes/
!themes/kcg-*/
!themes/kcg-*/**

node_modules/
dist/