<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:post-content /-->

<!-- wp:html -->
<div class="hero-scroll-arrow-wrapper">
  <a href="#" class="hero-scroll-arrow" aria-label="Scroll to 90vh">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>
  </a>
</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
