.wp-block-navigation {
  position: relative;
  --navigation-layout-justification-setting: flex-end;
  --navigation-layout-direction: row;
  --navigation-layout-wrap: wrap;
  --navigation-layout-justify: flex-end;
  --navigation-layout-align: center;
}

/* Adjust breakpoint for mobile menu */
@media (min-width: 768px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block !important;
  }
}

/* Disable WP default breakpoints for navigation */
@media (min-width: 600px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }

  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }
}

/* Responsive navigation styles */
@media screen and (max-width: 768px) {

  /* Main container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow-y: auto;
  }

  /* Inner container div */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__responsive-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0rem;
    width: 100%;
  }

  /* Navigation container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  /* Navigation item container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item {
    align-items: center;
    font-size: 1.25rem;
    padding: 0;
  }

  .wp-block-navigation__responsive-container-content.wp-block-navigation__container .wp-block-navigation-item__content {
    padding:0 !important;
  }

  /* Submenu navigation container */
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child {
    gap: 0.25rem;
  }

  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu {
    padding: 0;
  }

  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu li {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__container .wp-block-navigation-item.has-child .wp-block-navigation-submenu li .wp-block-navigation-item__content {
    padding: 0 !important;
    margin: 0 !important;
  }

  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation-item__content,
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation-item__label,
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation-submenu .wp-block-navigation-item__content,
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation-submenu .wp-block-navigation-item__label,
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__submenu-icon,
  .wp-block-navigation__responsive-container.has-modal-open.is-menu-open .wp-block-navigation__submenu-icon svg path {
    color: var(--wp--preset--color--secondary) !important;
    /* fill: var(--wp--preset--color--secondary) !important;
    stroke: var(--wp--preset--color--secondary) !important; */
  }

}